<div class="container" *ngIf="!onLoading">
    

  <div class="form-container">
      <div class="header-container">
          <div class="title-container">
              <h1 class="title">Login In</h1>
          </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocmplete="off">
          <div class="container-input-button-form">
              <div class="input-container">
                  <input 
                          formControlName="email"
                          class="input" 
                          placeholder="Enter your email" 
                  />
                  <span *ngIf="isValidField('email')" class="span form-text text-danger">
                      Email no válido
                  </span>
              </div>
              <div class="input-container">
                  <input
                      formControlName="password"
                      class="input"
                      placeholder="Enter your password"
                      type="password"
                  />
                  <span *ngIf="isValidField('password')" class=" span form-text text-danger">
                 La contraseña debe de ser mayor de 6 caracteres.
            </span>
              </div>
          
              <button *ngIf="loginForm.valid"
                  class="btn btn-primary mt-4" 
                  type="submit"
              >
                  Login
              </button>
          </div>
      </form>        
  </div>

  <div *ngIf="!hideModal" class="modal-dialog modal-dialog-centered">
    <span>Credenciales incorrectas</span>
  </div>

  
</div>
<div *ngIf="onLoading">
    <span>Cargando...</span>

</div>