    <div class="card-body game-card">
      <h5 class="card-title">{{game.name_game}}</h5>
      <p class="card-text">{{game.description}}.</p>
     <div class="button-container" *ngIf="!loading">
      <button *ngIf="!isEmptyQuestionList" 
        (click)="goToGame(game.id, game.name_game)" 
        class="btn btn-primary"
      >Resolver</button>
      <span>
        <p *ngIf="isEmptyQuestionList">Cuestionario resuelto</p>
      </span>
     </div>
      <span *ngIf="loading">Cargando...</span>
    </div>