<div *ngIf="questionList.length === 0; else table">
    <h2>No hay nada que mostrar</h2>
    <shared-loading-spinner></shared-loading-spinner>
</div>

<ng-template #table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Pregunta</th>
                <th scope="col">Juego</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Ver opciones</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questionList">
                <td>{{question.question}}</td>
                <td>{{question.game.name_game}}</td>
                <td>{{question.score}}</td>
                <td>
                    <button class="btn btn-primary" (click)="openDialog(question)">Ver opciones</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteQuestion(question.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>