<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" 
        routerLink="/home-admin/users"
        routerLinkActive="active"
    >Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
        routerLink="/home-admin/games"
        routerLinkActive="active"
        
    >Juegos</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" 
        routerLink="/home-admin/questions"
        routerLinkActive="active"
     >Preguntas</a>
    </li>
    <li>
      <a class="nav-link"
        routerLink="/home-admin/options"
        routerLinkActive="active"
     >Opciones</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link text-danger a-logout"  (click)="logout()">Cerrar sesion</a>
    </li>
</ul>
